.create_task_btn {
  background-color: var(--main-font-color-dark);
  border-color: var(--main-font-color-dark);
  color: white;
  position: absolute;
  right: 10%;
}

.create_task_btn:hover {
 background-color: var(--second-font-color);
 border-color: var(--main-font-color-dark);
}

.card-new-task {
  background-color: var(--second-font-color);
}

.button-create-task, .button-create-task:hover {
  background-color: var(--check-task-color);
  border-color: var(--check-task-color);
}
