/*Global*/

*{
  padding: 0;
  margin: 0;
  background-color: var(--third-font-color);
}

/*List*/
.tasks_list {
  width: 100%;
}

:root {
  --main-font-color-dark: #8189d5; /*Violet*/
  --second-font-color: #535fc6; /*Violet*/
  --third-font-color: #e1e3f5; /*Violet*/
  --check-task-color: #32cd32; /*Green*/
  --trash-task-color: #e8969b; /*Red*/
}
