.title {
  margin-left: 5%;
  color: gray;
}

.remove_tasks_btn, .remove_tasks_btn:hover {
 color: var(--trash-task-color);
 margin: auto;
 margin-bottom: 5%;
}

.remove_tasks_btn:hover {
  background-color: red;
  color: white;
  transition: 1s;
}
