/*Header*/
.navbar {
  background-image: linear-gradient(to left, var(--second-font-color), var(--main-font-color-dark));
  width: 100%;
  padding: 3%;
  text-align: center;
}

.nav-items {
  display: flex;
  width: 50%;
  margin: auto;
  text-align: center;
  background-color: transparent;
}

.nav-items p {
  margin-left: 5%;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 1.5rem;
  color: white;
  background-color: transparent;
}

.check-circle {
  font-size: 2.8rem;
  color: white;
  background-color: transparent;
}

@media screen and (min-width: 600px) {
  .nav-items {
    width: 100%;
  }

  .navbar {
    padding: 2%;
    padding-left: 5%;
  }

  .nav-items p {
    margin-left: 1%;
  }
}

@media screen and (min-width: 900px) {
  .nav-items {
    width: 100%;
  }

  .navbar {
    padding: 1%;
    padding-left: 5%;
  }

  .nav-items p {
    margin-left: 1%;
  }
}
